html {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'good times';
}

a {
  color: unset;
  text-decoration: unset;
}

h1 {
  font-family: 'good times';
  font-size: 60px;
}

h2 {
  font-family: 'good times';
  font-size: 40px;
}

h3 {
  font-family: 'good times';
  font-size: 30px;
}

h4 {
  font-family: 'good times';
  font-size: 20px;
  text-align: center;
}

p {
  font-family: 'good times';
  font-size: 15px;
}

.whiteBackground {
  background-color: #F0F0F0;
  width: 100%;
  height: 140vh;
  z-index: -1;
}

.blackBackground {
  background-color: #151515;
  width: 100%;
  height: 140vh;
  z-index: 0;
}


@font-face {
  font-family: 'Good Times';
  src: url('Fonts/good_times/good\ times\ rg.otf') format('opentype');
}

body {
  border-radius: 0px;
  margin: 0;
  background-color: F0F0F0;
}

.skew {
  transform: skew(-20deg);
}

.navbar {
background-color: none;
padding: 3vh 3vh;
position: fixed;
width: 100vw;
height: 11vh;
z-index: 5;
}

.navbar ul {
list-style: none;
display: flex;
justify-content: center;
margin: 0;
padding: 0;
}

.navbar li {
margin: 0 1.3vw;
position: relative;
}

.navbar a {
display: inline-block;
text-decoration: none;
color: #151515;
padding: 3vh 5vw;
font-size: 1vw;
text-align: center;
position: relative;
z-index: 3;
font-family: 'Good Times';
filter: drop-shadow( 0.5vw -0.5vw 1px 11vh #CFCFCF);
}

.navbar a::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #D3D3D3;
transform: skew(-20deg);
z-index: -1;
border-radius: 0.3vw;
transition: transform 0.5s ease, background color 0.5s ease;
}

.navbar a:hover::before {
transform: skew(-20deg) scale(1.25);
background-color: #EEEEEE;
color: #151515;
}

.banner {
  margin: 0px;
  background: url('Images/Banner.JPG');
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  height: 110vh;
  width: 100vw;
}

#SFlogo {
  display: block;
  padding-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

                                                                 /*THE WORLD TOUR*/

#worldTour {
  z-index: 0;
  width: 0;
  height: 0;
  border-top: 50vh solid transparent;
  border-right: 125vw solid #F0F0F0;
  margin-top: -50vh;
}

#worldTour h1 {
  z-index: 1;
  font-family: 'Good Times';
  color: #151515;
  font-size: 3.75vw;
  position: absolute;
  width: 95%;
  text-align: right;
  margin-top: -12vh;
  margin-right: 5%;
  
}

#worldTourBlock {
  padding: 3vw;
}

.buyTickets h4 {
  background-color: #151515;
  color: #F0F0F0;
  font-family: 'good times';
  font-size: 20px;
  position: none;
  text-align: none;
  width: 50%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-left: 25%;
  margin-right: 25%;
}



                                                                 /*NEW MERCH SHOP*/

#newMerch {
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 50vh solid transparent;
  border-left: 125vw solid #151515;
  margin-top: -50vh;
}

/*#newMerch h1 {
  z-index: 2;
  color: #F0F0F0;
  position: absolute;
  width: 95%;
  text-align: left;
  margin-top: -12vh;
  margin-left: 5%;
}*/

.NewMerch h1 {
  z-index: 2;
  color: #F0F0F0;
  position: absolute;
  width: 95%;
  text-align: left;
  margin-top: -24vh;
  margin-left: 5%;
}

                                                                 /*SCHEDULE PAGE*/

.scheduleheader {
  text-align: center;
  margin-top: 15vh;
}

.schedulegrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 7px;
  font-family: 'Good Times';
  color: #F0F0F0;
  font-size: 20px;
}

.schedheads {
  align: center;
}

.itm td {
  line-height: 200%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.date {
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.itm th {
  font-size: 25px;
  text-align: center;
  padding-top: 15px;
}

.itm table {
  width: 100%;
}

.itm {
  border-radius: 10px;
  padding-left: 2vw;
  padding-right: 2vw;
}

.itm1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background: url('Images/JeanBackground.png');
}

.itm2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background: url('Images/JeanBackground.png');
}

.itm3 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  background: url('Images/JeanBackground.png');
}

.itm4 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  background: url('Images/JeanBackground.png');
}

.itm5 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  background: url('Images/JeanBackground.png');
}

.itm6 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  background: url('Images/JeanBackground.png');
}

.itm7 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  background: url('Images/JeanBackground.png');
}

.itm8 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  background: url('Images/JeanBackground.png');
}

.itm9 {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  background: url('Images/JeanBackground.png');
}

.schedfoot {
  margin-top: 10px;
}

                                                                    /*OLD DESIGN

.scheduletable {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.scheduletable td {
  font-family: 'Good Times';
  color: #F0F0F0;
  font-size: 20px;
  line-height: 200%;
  width: 28%;
  margin: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: url('Images/JeanBackground.png');
}

td.date {
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.scheduletable th {
  font-size: 25px;
}
*/

.footer {
	background-color: #151515;
	height: 13.5vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	top: -87.5%;
}

.footer ul {
	list-style: none;
	display: flex;
	justify-content: center;
	position: relative;
	padding: 0;
	margin: 0;
}

.footer li {
	margin: 0 1.3vh;
	position: relative;
}

.footer a {
	padding: 1vw;
	font-size: 1vw;
	text-align: center;
	position: relative;
	font-family: 'good times';
	color: #F0F0F0;
}

.footer h4 {
  font-family: 'good times';
  font-size: 0.8vw;
  color: #F0F0F0;
  position: absolute;
  text-align: center;
  width: 100%;
  padding-top: 8.75vh;
}

.socialmedia tr {
  position: absolute;
  width: 100%;
  align-self: center;
  font-family: 'Helvetica';
  color: #F0F0F0;
  background-color: #151515;
}

table.newMerchShop {
  z-index: 0;
  width: 96%;
  border: none;
  padding: none;
  margin: none;
}

                                                                  /*BLACK SHIRT*/

.newMerchShop .BlackTShirt {
  width: 90%;
  height: auto;
  padding: none;
  border: none;
  display: inline-block;
  z-index: 3;
}

.addToCart .BlackTShirt {
  display: none;
}

.newMerchShop:hover + .addToCart .BlackTShirt {
  display: block;
  border: none;
  padding: none;
  margin: none;
  width: 4%;
  z-index: 4;
  position: absolute;
  left: 12.5vw;
  margin-top: -10vh;
}

.BlackTShirt {
  margin-left: 3vw;
  margin-right: 3vw;
}

                                                                  /*MAROON SHIRT*/

.newMerchShop .MaroonTShirt {
  width: 90%;
  height: auto;
  padding: none;
  border: none;
  display: inline-block;
  z-index: 3;
}

.addToCart .MaroonTShirt {
  display: none;
}

.newMerchShop:hover + .addToCart .MaroonTShirt {
  display: block;
  border: none;
  padding: none;
  margin: none;
  width: 4%;
  z-index: 4;
  position: absolute;
  left: 31vw;
  margin-top: -10vh;
}

.MaroonTShirt {
  margin-left: 3vw;
  margin-right: 3vw;
}

                                                                   /*NAVY SHIRT*/

.newMerchShop .NavyTShirt {
  width: 90%;
  height: auto;
  padding: none;
  border: none;
  display: inline-block;
  z-index: 3;
}

.addToCart .NavyTShirt {
  display: none;
}

.newMerchShop:hover + .addToCart .NavyTShirt {
  display: block;
  border: none;
  padding: none;
  margin: none;
  width: 4%;
  z-index: 4;
  position: absolute;
  left: 49.75vw;
  margin-top: -10vh;
}

.NavyTShirt {
  margin-left: 3vw;
  margin-right: 3vw;
}

                                                                   /*RED SHIRT*/

.newMerchShop .RedTShirt {
  width: 90%;
  height: auto;
  padding: none;
  border: none;
  display: inline-block;
  z-index: 3;
}

.addToCart .RedTShirt {
  display: none;
}

.newMerchShop:hover + .addToCart .RedTShirt {
  display: block;
  border: none;
  padding: none;
  margin: none;
  width: 4%;
  z-index: 4;
  position: absolute;
  left: 68.5vw;
  margin-top: -10vh;
}

.RedTShirt {
  margin-left: 3vw;
  margin-right: 3vw;
}

                                                                /*MIDNIGHT SHIRT*/

.newMerchShop .MidnightTShirt {
  width: 90%;
  height: auto;
  padding: none;
  border: none;
  display: inline-block;
  z-index: 3;
}

.addToCart .MidnightTShirt {
  display: none;
}

.newMerchShop:hover + .addToCart .MidnightTShirt {
  display: block;
  border: none;
  padding: none;
  margin: none;
  width: 4%;
  z-index: 4;
  position: absolute;
  left: 87vw;
  margin-top: -10vh;
}

.MidnightTShirt {
  margin-left: 3vw;
  margin-right: 3vw;
}

                                                                   /*SHOP BUTTON*/

.sendToShop h4 {
  font-family: 'good times';
  font-size: 20px;
  background-color: #F0F0F0;
  color: #151515;
  position: none;
  text-align: none;
  width: 50%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-left: 25%;
  margin-right: 25%;
}

#meetTheBand {
  z-index: 0;
  width: 90%;
  height: 90%;
  border-top: 50vh solid transparent;
  border-right: 125vw solid #F0F0F0;
  margin-top: -50vh;
}

#meetTheBand h1 {
  z-index: 1;
  font-family: 'Good Times';
  color: #151515;
  font-size: 60px;
  position: absolute;
  width: 95%;
  text-align: right;
  margin-top: -12vh;
  margin-right: 5%;
}

table.bandMemberPictures {
  width: 100%;
}

.bandMemberPictures tr {
  width: 100%;
}

.bandMemberPictures td {
  width: 25%;
}

#armond {
  width: 20vw;
  padding-left: 4.5vw;
  padding-right: 2vw;
}

#jace {
  width: 20vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

#landon {
  width: 20vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

#brandon {
  width: 20vw;
  padding-left: 2vw;
  padding-right: 4.5vw;
}

.bandMemberNames {
  text-align: center;
}

                                                                /*CONTACT US PAGE*/
.contacthead {
  text-align: center;
  padding-top: 15vh;
}
	
.contact {
  display: block;
  text-align: center;
  padding-top: 4vh;
}

.contact h3 {
  padding: 5vh;
}

.contact p {
  padding: 1vh;
  white-space: nowrap;
}

.contactform {
  background-color: #f1f3f9;
  border-radius: 5px;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 16.7vw;
  margin-right: 16.7vw;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

option:first-of-type {
  display: none;
}

.conform {
  background-color: #000;
  font-family: 'good times';
  font-size: 20px;
  color: white;
  padding: 18px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.conform:hover {
  background-color: #ffffff;
  color: black;
  border: 2px solid black;
  box-shadow: 7px 7px 0px 5px;
}

.popup {
  display: none;
  position: fixed;
  text-align: center;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  background-color: black;
  border-radius: 15px;
}

.popcontent {
  background-color: #fefefe;
  margin: 45px auto;
  padding: 10px;
  border: 1px solid #888;
  width: 60%;
  box-sizing: border-box;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
                                                                   /*INFO PAGE*/
.info {
  padding-top: 15vh;
}

.section {
  margin: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

@media (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.item {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.price {
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
}

.add-item {
    padding: 10px 15px;
    background-color: #963131;
    font-family: 'good times';
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.add-item:hover {
    background-color: #C53939;
}

.name {
    font-size: 1em;
    margin: 10px 0;
    font-weight: bold;
}

.cart {
    margin:20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.cart h2 {
    text-align: left;
    margin-bottom: 20px;
}

.items {
    display: grid;
    gap: 10px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-column {
    display: flex;
    align-items: center;
}

.cart img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.btn-remove {
    padding: 5px 10px;
    background-color: #dc3545;
    font-family: 'good times';
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-remove:hover {
    background-color: #c82333;  
}

.total {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
}

.amount-input {
    width: 10vw;
}

.store-main-h1 {
	text-align: center;
	margin-top: 25vh;
}

.card-number {
	font-size: 1.3rem;
	padding: 10px;
	width: 250px;
	margin-bottom: 20px;
	border: 2px solid #333;
	border-radius: 15px;
	text-align: center;
	box-sizing: border-box;
}

.card-image {
	width: 100px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.checkout-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
}

.btn-checkout {
   	font-family: 'good times';
	color: #F0F0F0;
 	background-color: #963131;
}

.btn-checkout:hover {
	background-color: #C53939;
}

.inputs-row {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group h5 {
  margin: 0 0 5px 0; /* Add some space below the label */
  font-size: 0.9rem;
}

.expiration-number {
  font-size: 0.8rem;
  padding: 5px;
  width: 110px;
  margin-bottom: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

.checkout-total {
	text-align: center;
	font-size: 5vw;
}

.purchase {
	display: flex;
	justify-content: center;
	align-items: center;
   	font-family: 'good times';
	color: #F0F0F0;
 	background-color: #00c04b;
	
}

.purchase:hover {
	background-color: #008631;
}
	

table.meetTheBand {
	border: none;
 	margin: none;
 	padding: none;
  	outline: none !important;
  	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.meetTheBand tr {
  	border: none;
  	margin: none;
  	z-index: 0;
	border-collapse: collapse;
}

.z1 {
  	z-index: 1;
}

.light {
	background-color: #F0F0F0;
	width: auto;
	padding: 5%;
	height: 60vh;
}

.dark {
	background-color: #151515;
	width: auto;
	padding: 5%;
	height: 60vh;
}

.light td {
	color: #151515;
  	border: none !important;
  	margin: none;
	padding: 3%;
}

.dark td {
	color: #F0F0F0;
  	border: none !important;
  	margin: none;
	padding: 3%;
}

.lightTri {
	z-index: 1;
	width: 0;
	height: 0;
	border-top: 15vh solid transparent;
	border-right: 100vw solid #F0F0F0;
  	margin-top: -15vh;
  	position: absolute;
}

.darkTri {
	z-index: 1;
	width: 0;
	height: 0;
	border-top: 15vh solid transparent;
	border-left: 100vw solid #151515;
  	margin-top:-15vh;
  	position: absolute;
}

#armondInfo {
 	width: 80%;
  	z-index: 0;
  	margin: 10%;
}

#jaceInfo {
  	width: 80%;
  	z-index: 0;
  	margin: 10%;
}

#landonInfo {
  	width: 80%;
  	z-index: 0;
  	margin: 10%;
}

#brandonInfo {
  	width: 80%;
  	z-index: 0;
  	margin: 10%;
}
#meethead {
	text-align: center;
}

.purchase {
	width: auto;
	margin: 40%;
}
                                                                 /*BUG FIX?*/
img {
  max-width: 100%;
  height: auto; /* Maintains aspect ratio */
}
